streamlit==1.31.1
PyPDF2==3.0.1
langchain==0.1.8
faiss-cpu==1.7.4
google-ai-generativelanguage==0.4.0
google-api-core==2.17.1
google-auth==2.25.2
google-auth-oauthlib==1.1.0
google-generativeai==0.3.2
google-pasta==0.2.0
googleapis-common-protos==1.62.0
langchain-community==0.0.21
langchain-core==0.1.25
langchain-google-genai==0.0.9
langdetect==1.0.9
python-dotenv==1.0.1
